@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body{
    background: #dd969C;
}

header{
    background: #5dc189;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: white;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    height: 50px;
    font-size: 30px;
}

.contenedor{
    display: flex;
    width: 70%;
    margin: 10px auto;
    gap: 10px;
}  

aside{
    background: #5dc189;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: white;
    padding: 10px 0;
    width: 20%;
    margin: 25px;
    height: 300px;
    font-size: 30px;
}

.article-img{
    background: #d65959; 
    width: 80%;
    height: 320px;
    margin: 25px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: white;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 30px;
}


footer{
    background: #5dc189;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: white;
    padding: 10px 0;
    width: 70%;
    margin: 0 auto;
    height: 50px;
    font-size: 30px;
}

.img{
 
    
}
