@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    background: #DD969C;
    
}

header {
    background: #5DC1B9;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: white;
    padding: 10px 0;
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
}

.contenedor {
    display: flex;
    width: 80%;
    margin: 10px auto;
    gap: 20px;    
}

aside {
    background: #1d9288;
    height: 500px;
    color: white;
    font-family: 'Roboto Slab', serif;
    width: 25%;
    text-align: center;
}

article {
    background-color: tomato;
    width: 75%;
  }

.Articulo {
    color: white;
    font-family: 'sRoboto Slab', serif;
    text-align: center;
    position: relative;
    left: 0;
    bottom: -110px;
}

.Imagen {
    height: 379px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    text-align: center;
    color: white;
    
}

.img {
    width: 200px;
    height: 200px;
    background: #a2d8d3;
    margin: 5px;
    border-radius: 10px;
}

footer {
    background: #5DC1B9;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: white;
    padding: 10px 0;
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
}